[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-caching = "*"
flask-compress = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
aiohttp = "*"
bs4 = "*"
google = "*"
google-api-core = "*"
google-api-python-client = "*"
timeago = "*"
selenium = "*"
colorthief = "*"
webdriver-manager = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.11"
