[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-caching = "*"
flask-compress = "*"
pymongo = "*"
python-dotenv = "*"
requests = "*"
aiohttp = "*"
bs4 = "*"
google = "*"
google-api-core = "*"
google-api-python-client = "*"
timeago = "*"
selenium = "==3.141.0"
urllib3 = "==1.26.13"
colorthief = "*"
webdriver-manager = "*"
apscheduler = "*"
flask-cors = "*"
pyinstaller = "*"
swinlnk = "*"
pywin32 = "*"
dota2 = "*"
psutil = "*"
pyclick = "*"
pynput = "*"
pytest = "*"
asyncio-throttle = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
