:root {
  --body-bg-colour: rgb(41, 38, 38);
  --table-row-odd-bg: rgb(42, 50, 53);
  --table-border: grey;
  --nav-bar: rgb(19, 18, 18);
}

body {
  background-color: var(--body-bg-colour);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
.top-layer {
  display: flex;
}
/* scroll bar */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #94a2a3;
  border-radius: 5px;
}

table {
  width: 100%;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  margin-top: 20px;
}
table.dataTable tbody tr {
  background-color: var(--table-row-odd-bg);
}
thead {
  display: table-header-group;
}
th {
  color: white;
  font-size: 1rem;
  padding: 10px;
}
.item-table {
  border-collapse: separate;
  border-spacing: 0px 20px;
}
.item-table-body {
  border-spacing: 0px 0px;
}
.stats {
  color: white;
}

thead .stats:hover {
  cursor: pointer;
  opacity: 0.75;
}
#item-header:hover {
  cursor: default;
  opacity: 1;
}
#copy-match-header:hover {
  cursor: default;
}
#kills {
  color: green;
}
#deaths {
  color: red;
}
#assists {
  color: grey;
}
#gold {
  color: gold;
}
#gpm {
  padding-left: 0px;
  padding-right: 0px;
  text-align: right !important;
}
#xpm {
  padding-left: 0px;
  text-align: left;
}
.cell {
  display: inline-block;
}

.overlay {
  color: white;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  position: relative;
  height: 20px;
  font-size: 15px;
}
ul {
  margin: 0;
  padding: 0;
}
.suggestions {
  grid-template-columns: 1fr 1fr;
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: var(--nav-bar);
  width: 320px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 1;
}
.suggestion-header {
  margin: 0px 0px 10px 10px;
  font-size: 1.1em;
  color: rgb(155, 182, 182);
}
.suggestions-left {
  border-right: solid grey 1px;
  grid-column: 1;
}
.suggestion {
  text-transform: capitalize;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.suggestion > p {
  margin: 0;
  margin-left: 10px;
}
.suggestion-link {
  color: white;
}
.suggestion:hover {
  background-color: rgb(53, 53, 53);
}
.form-container {
  justify-content: center;
  width: 100%;
  background-color: var(--nav-bar);
}
.navbar {
  display: flex;
  height: 50px;
}
#home {
  height: 100%;
}
.home-button {
  height: 100%;
  background-color: var(--nav-bar);
  margin-right: 10px;
  outline: none;
  border: none;
  color: rgb(136, 136, 136);
  width: 70px;
  cursor: pointer;
  border-radius: 5px;
}
.home-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(187, 187, 187);
}
#search {
  background-color: inherit;
  color: white;
  width: 285px;
  height: 50px;
  padding-left: 15px;
  font-family: inherit;
  border: none;
}
#search:focus {
  outline: none;
}
input:focus {
  outline-offset: 0px;
  outline: none;
}
input:not([type="image" i]) {
  box-sizing: content-box;
}
input[type="text" i] {
  padding: 0px;
}
a {
  color: white;
  text-decoration: none;
}
.most-used-container {
  display: flex;
  width: 250px;
}
.most-used-wrapper {
  width: 100%;
}
.most-used {
  height: 335px;
  display: grid;
  overflow: auto;
  grid-row-gap: 2px;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  transition: height 0.5s;
}

.most-used.closed {
  height: 0px;
}
.most-used-row {
  display: flex;
  border-bottom: 1px solid grey;
}
.most-used-row:nth-child(odd) {
  background-color: var(--table-row-odd-bg);
}
.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: green;
}
.bar:hover {
  filter: brightness(150%);
}
.bar-value {
  color: white;
  font-family: eurostile, sans-serif !important;
  font-style: italic;
  font-weight: 400;
  font-size: 1.3em;
  opacity: 0.8;
  margin: 0;
  margin-right: 2px;
}
.best-games {
  /* background-color: red; */
  color: white;
  border: solid grey 1px;
}
.best-games thead {
  background: linear-gradient(
    340deg,
    rgb(54, 59, 61) 0%,
    rgb(58, 94, 116) 100%
  );
  /* rgb(33,39,41) */
}
.best-games tbody tr:nth-child(odd) {
  background-color: rgba(30, 42, 46, 0.486);
}
.best-games tbody tr:nth-child(even) {
  background-color: rgb(39, 50, 58);
}
.best-games p {
  margin: 0;
  white-space: nowrap;
}
.benchmark-cell {
  padding: 5px 15px;
}
.benchmark-pct {
  margin: 0;
  font-size: 15px;
}
.benchmark-raw {
  margin: 0;
  font-size: 13px;
  color: grey;
}
.talent-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
}
#main-talent-img {
  cursor: help;
  margin-right: 100px;
}
.player-name:hover {
  opacity: 0.75;
}
i[class="fas fa-copy"]:hover {
  opacity: 0.75;
  cursor: pointer;
}
#talents {
  width: 400px;
  display: grid;
  padding: 10px;
  padding-top: 17px;
  grid-gap: 5px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 0.25fr 1fr;
  background-color: var(--nav-bar);
  margin-left: auto;
  margin-right: 30px;
  z-index: 3;
  position: absolute;
  right: 150px;
  top: -100px;
}
#talents > div {
  font-size: 13px;
  color: white;
  height: 80px;
  vertical-align: top;
}
.talent-left {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
}
.talent-left > .talent-text {
  text-align: right;
}
.talent-right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.talent-right > .talent-text {
  margin-left: 5px;
}
.talent-text {
  margin: 0;
  margin-right: 5px;
  position: absolute;
  z-index: 99 !important;
  max-width: 200px;
}
.talent-bar {
  height: 45px;
  background-color: rgb(55, 67, 71);
}
.talent-left > .talent-bar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.talent-right > .talent-bar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.talent-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;
}
.talent-level {
  color: gold;
  font-size: 20px;
  grid-column: 2;
  background-color: rgb(27, 27, 27);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(233, 255, 108), 0 0 10px gold;
  text-shadow: 0 0 1px rgb(233, 255, 108), 0 0 3px gold;
  /* text-shadow:1px 1px 10px #fff, 1px 1px 10px rgb(255, 187, 0) */
}
.icon-highlight {
  background-color: rgba(0, 255, 255, 0.404);
}
.talent-picks {
  color: white;
  width: 100%;
}
.arrow-button {
  background-color: var(--nav-bar);
  width: 70px;
  /* position: relative; */
  left: 128px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.863);
  color: white;
  font-size: 20px;
}
.arrow-button:hover {
  background-color: rgb(48, 146, 125);
  color: black;
  cursor: pointer;
}
.total-picks {
  margin-left: 10px;
}
.controls-container {
  width: 0px;
}
#controls-arrow {
  margin: 0;
  transform: rotate(-90deg);
  position: absolute;
  left: -20px;
  top: 17%;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
}
.advanced-controls {
  width: 300px;
  padding: 10px;
  z-index: 5;
  display: grid;
  margin-left: 20px;
  grid-template-areas:
    "l c r"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.3fr;
  border-radius: 5px;
  background-color: rgb(58, 61, 61);
}
.sort-button {
  height: 100%;
  margin: 5px;
  background-color: rgb(0, 15, 15);
  outline: none;
  border: none;
  color: rgb(136, 136, 136);
  width: 80px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
}
.sort-button:hover {
  background-color: rgb(37, 37, 37);
}
.control-left {
  grid-area: l;
}
.control-center {
  grid-area: c;
  border-right: solid black 3px;
}
.control-right {
  grid-area: r;
}
.control-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

label {
  color: white;
}
.win-stats {
  font-size: 13.5px;
}
.picks {
  color: white;
}
.wins {
  color: green;
}
.bans {
  color: rgb(122, 0, 0);
}
.total-picks:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.bold-name {
  margin-right: 6px;
}
.highlight {
  background-color: rgba(255, 255, 255, 0.089);
}
#win-cell {
  background-color: rgb(2 255 2 / 48%);
  width: 10px;
  height: 219px;
}
#loss-cell {
  background-color: rgb(255 2 2 / 65%);
  width: 10px;
  height: 219px;
}
.purchases {
  display: flex;
}
.starting_items {
  display: flex;
}
.intermediate_items {
  display: flex;
  margin-top: 10px;
}
.item-cell {
  position: relative;
}
.neutral-cell {
  position: relative;
}
.abilities {
  display: flex;
}
.ability-img-wrapper {
  position: relative;
}
.ability-img-wrapper .tooltip .tooltip-content .tooltip-description {
  margin-bottom: 10px;
}
.search-container {
  display: flex;
}
.sort-title {
  color: white;
  -webkit-text-stroke: 1.5px black; /* width and color */
  text-align: center;
  text-transform: uppercase;
}
.grid-container {
  width: 100%;
}
.hero-grid {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.hero-highlight {
  box-shadow: 0px 0px 25px #fff;
}
.col {
  text-align: center;
  margin-right: 6px;
}
.col.first {
  grid-row: 1;
  grid-column: 1;
}
.search-hide {
  display: none;
}
.hide {
  display: none !important;
}
.right {
  margin: 2px 0px 0px 405px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 2px;
}
.view-changer {
  cursor: pointer;
}
.circle {
  height: 55px;
  width: 55px;
  overflow: hidden;
}
#neutral-item {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.item-img {
  display: block;
  width: 77.83px;
  height: 58.59px;
}
.neutral-cell {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 1475px) {
  .item-img {
    width: 53px;
    height: 40px;
  }
  .circle {
    height: 38.73px;
    width: 38.73px;
    overflow: hidden;
  }
}
.table-img {
  height: auto;
  width: 100%;
  min-height: 20px;
  max-width: 55px;
}
.tooltip {
  z-index: 3;
  position: absolute;
  width: 300px;
}
#talent-tooltip img {
  border: solid 1px rgb(32, 31, 31);
}
.tooltip * {
  text-shadow: 1.5px 1.5px black;
}
.tooltip-line-one {
  padding: 20px;
  display: flex;
  text-align: end;
  /* align-items: center; */
  background-color: rgba(255, 255, 255, 0.11);
}
.aghanim-wrapper {
  text-align: start;
}
.aghanim-title {
  background-color: #1c2e50;
  padding: 3px 8px;
  width: 70%;
  border-radius: 4px;
  letter-spacing: 1px;
  margin: 5px 0px 5px 0px;
}
.tooltip-aghanim-img {
  width: 55px;
  height: 55px;
  margin: 0px 4px;
  margin-bottom: 8px;
  cursor: pointer;
  background-size: cover;
  position: relative;
}
.scepter-subicon {
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.tooltip-title {
  display: flex;
  text-align: end;
  align-items: center;
  width: 100%;
}
.item-tooltip-line-one {
  display: grid;
  text-align: start;
  height: 60px;
}
.cost-wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: gold;
}
.cost-wrapper h4 {
  margin: 0;
}
.gold-img {
  width: 25px;
  height: 17px;
}
.tooltip-img {
  justify-self: start;
  width: 55px;
}

.tooltip-line-one h3 {
  margin: 0;
  justify-self: end;
  font-size: 18px;
  margin-left: auto;
  text-transform: uppercase;
}
.tooltip-content {
  padding: 20px;
  color: rgb(190, 190, 190);
}
.attributes {
  margin-bottom: 15px;
}
.description-text {
  margin: 0;
  font-weight: 600;
  text-shadow: 1.5px 1.5px black;
  padding: 5px 5px 10px 5px;
}
.active h3 {
  text-shadow: 1.5px 1.5px black;
}
.active .description-text {
  padding: 5px;
  color: rgb(104, 110, 143);
  background: rgb(25, 32, 48);
  background: linear-gradient(
    "to left",
    rgba(25, 32, 48, 1) 0%,
    rgba(24, 31, 48, 1) 100%
  );
}
.active .description-text p {
  margin-top: 10px;
}

.test {
  height: 20px;
  padding: 5px 5px 5px 5px;
  color: rgb(170, 169, 247) !important;
  background: rgb(24, 31, 48);
  background: linear-gradient(
    270deg,
    rgba(24, 31, 48, 1) 0%,
    rgba(56, 56, 127, 1) 100%
  );
  display: flex;
  align-items: center;
}
.statWrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.statWrapper img {
  height: 15px;
  margin-left: auto;
  border: solid 1px black;
  border-radius: 10%;
  margin-right: 3px;
}
.statWrapper p {
  color: white;
  margin-right: 5px;
}
.passive-description {
  color: rgb(103, 112, 124);
  font-weight: 600;
  text-shadow: 1.5px 1.5px black;
  background: rgb(28, 38, 47);
  background: linear-gradient(
    84deg,
    rgba(28, 38, 47, 1) 0%,
    rgba(27, 39, 47, 1) 100%
  );
  margin-top: 10px;
}
.passive h3 {
  margin: 0;
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(138, 153, 172) !important;
  background: rgb(38, 53, 64);
  background: linear-gradient(
    84deg,
    rgba(38, 53, 64, 1) 0%,
    rgba(27, 39, 47, 1) 100%
  );
}
.use-description {
  color: #76846e;
  font-weight: 600;
  text-shadow: 1.5px 1.5px black;
  background: rgb(24, 38, 35);
  background: linear-gradient(
    90deg,
    rgba(24, 38, 35, 1) 0%,
    rgba(27, 41, 39, 1) 100%
  );
}
.use h3 {
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  background: rgb(27, 42, 39);
  background: linear-gradient(
    270deg,
    rgba(27, 42, 39, 1) 0%,
    rgba(39, 63, 40, 1) 100%
  );
}
.passive:not(:last-child) {
  background-color: green !important;
  margin-bottom: 20px;
}

.item-tooltip-content {
  color: rgb(190, 190, 190);
}
.tooltip-text-highlight {
  color: white;
}
.active .tooltip-text-highlight {
  color: rgb(150, 150, 195);
}
.passive .tooltip-text-highlight {
  color: rgb(121, 134, 151);
}
.use .tooltip-text-highlight {
  color: rgb(146, 187, 119) !important;
}
.attributes p {
  text-shadow: 1.5px 1.5px black;
  margin: 0;
  margin-top: 2px;
}
.tooltip-lore {
  padding: 1px 3px 1px 3px;
  background-color: rgb(12, 19, 22);
  margin-top: 15px;
  font-style: italic;
}
.tooltip-lore p {
  color: rgb(54, 69, 81);
  text-shadow: none;
}
.tooltip-footer {
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: solid grey 1px;
}
.footer-text {
  margin: 0;
}
.tooltip-footer > div {
  display: flex;
  margin-right: 2px;
  align-items: flex-start;
}
.cooldowns {
  margin-left: auto;
}
.tooltip-footer > div > img {
  margin-right: 4px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
}
.tooltip-components {
  display: flex;
}
.component-img {
  height: 30px;
}
table.dataTable thead .sorting {
  background-image: none;
}
table.dataTable thead .sorting_asc {
  background-image: none;
}
table.dataTable thead .sorting_desc {
  background-image: none;
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #212729;
}
.dataTables_processing {
  background: None !important;
  color: rgba(255, 255, 255, 0.507) !important;
  position: absolute;
  top: 100px !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: white !important;
}
.paginate_button.previous,
.paginate_button.next {
  color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}
table.dataTable thead th {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
  text-align: left;
}
#item-header {
  text-align: center;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
  text-align: left;
  font-size: 13px;
  color: white;
  border-top: 1px solid grey;
}
table.dataTable tbody td:nth-child(1) {
  padding: 0px;
}

.d2mh {
  background-image: url("minimap_hero_sheet.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.d2mh.axe,
.d2mh.npc_dota_hero_axe,
.d2mh.hero-2 {
  background-position: -0px -0px;
}

.d2mh.anti-mage,
.d2mh.npc_dota_hero_antimage,
.d2mh.anti_mage,
.d2mh.hero-1 {
  background-position: -32px -0px;
}

.d2mh.crystal_maiden,
.d2mh.npc_dota_hero_crystal_maiden,
.d2mh.hero-5 {
  background-position: -64px -0px;
}

.d2mh.pangolier,
.d2mh.npc_dota_hero_pangolier,
.d2mh.hero-120 {
  background-position: -160px -224px;
}

.d2mh.ancient_apparition,
.d2mh.npc_dota_hero_ancient_apparition,
.d2mh.hero-68 {
  background-position: -96px -0px;
}

.d2mh.batrider,
.d2mh.npc_dota_hero_batrider,
.d2mh.hero-65 {
  background-position: -128px -0px;
}

.d2mh.beastmaster,
.d2mh.npc_dota_hero_beastmaster,
.d2mh.hero-38 {
  background-position: -160px -0px;
}

.d2mh.bloodseeker,
.d2mh.npc_dota_hero_bloodseeker,
.d2mh.hero-4 {
  background-position: -192px -0px;
}

.d2mh.bounty_hunter,
.d2mh.npc_dota_hero_bounty_hunter,
.d2mh.hero-62 {
  background-position: -224px -0px;
}

.d2mh.broodmother,
.d2mh.npc_dota_hero_broodmother,
.d2mh.hero-61 {
  background-position: -256px -0px;
}

.d2mh.chen,
.d2mh.npc_dota_hero_chen,
.d2mh.hero-66 {
  background-position: -288px -0px;
}

.d2mh.dark_seer,
.d2mh.npc_dota_hero_dark_seer,
.d2mh.hero-55 {
  background-position: -320px -0px;
}

.d2mh.dazzle,
.d2mh.npc_dota_hero_dazzle,
.d2mh.hero-50 {
  background-position: -352px -0px;
}

.d2mh.death_prophet,
.d2mh.npc_dota_hero_death_prophet,
.d2mh.hero-43 {
  background-position: -384px -0px;
}

.d2mh.doom_bringer,
.d2mh.npc_dota_hero_doom_bringer,
.d2mh.doom,
.d2mh.hero-69 {
  background-position: -416px -0px;
}

.d2mh.dragon_knight,
.d2mh.npc_dota_hero_dragon_knight,
.d2mh.hero-49 {
  background-position: -448px -0px;
}

.d2mh.alchemist,
.d2mh.npc_dota_hero_alchemist,
.d2mh.hero-73 {
  background-position: -480px -0px;
}

.d2mh.drow_ranger,
.d2mh.npc_dota_hero_drow_ranger,
.d2mh.hero-6 {
  background-position: -0px -32px;
}

.d2mh.earthshaker,
.d2mh.npc_dota_hero_earthshaker,
.d2mh.hero-7 {
  background-position: -32px -32px;
}

.d2mh.enchantress,
.d2mh.npc_dota_hero_enchantress,
.d2mh.hero-58 {
  background-position: -64px -32px;
}

.d2mh.enigma,
.d2mh.npc_dota_hero_enigma,
.d2mh.hero-33 {
  background-position: -96px -32px;
}

.d2mh.faceless_void,
.d2mh.npc_dota_hero_faceless_void,
.d2mh.hero-41 {
  background-position: -128px -32px;
}

.d2mh.furion,
.d2mh.npc_dota_hero_furion,
.d2mh.natures_prophet,
.d2mh.hero-53 {
  background-position: -160px -32px;
}

.d2mh.huskar,
.d2mh.npc_dota_hero_huskar,
.d2mh.hero-59 {
  background-position: -192px -32px;
}

.d2mh.juggernaut,
.d2mh.npc_dota_hero_juggernaut,
.d2mh.hero-8 {
  background-position: -224px -32px;
}

.d2mh.juggernaut_alt1,
.d2mh.npc_dota_hero_juggernaut_alt1 {
  background-position: -224px -224px;
}

.d2mh.kunkka,
.d2mh.npc_dota_hero_kunkka,
.d2mh.hero-23 {
  background-position: -256px -32px;
}

.d2mh.leshrac,
.d2mh.npc_dota_hero_leshrac,
.d2mh.hero-52 {
  background-position: -288px -32px;
}

.d2mh.lich,
.d2mh.npc_dota_hero_lich,
.d2mh.hero-31 {
  background-position: -320px -32px;
}

.d2mh.life_stealer,
.d2mh.npc_dota_hero_life_stealer,
.d2mh.lifestealer,
.d2mh.hero-54 {
  background-position: -352px -32px;
}

.d2mh.lina,
.d2mh.npc_dota_hero_lina,
.d2mh.hero-25 {
  background-position: -384px -32px;
}

.d2mh.lion,
.d2mh.npc_dota_hero_lion,
.d2mh.hero-26 {
  background-position: -416px -32px;
}

.d2mh.mirana,
.d2mh.npc_dota_hero_mirana,
.d2mh.hero-9 {
  background-position: -448px -32px;
}

.d2mh.morphling,
.d2mh.npc_dota_hero_morphling,
.d2mh.hero-10 {
  background-position: -480px -32px;
}

.d2mh.necrolyte,
.d2mh.npc_dota_hero_necrolyte,
.d2mh.necrophos,
.d2mh.hero-36 {
  background-position: -0px -64px;
}

.d2mh.nevermore,
.d2mh.npc_dota_hero_nevermore,
.d2mh.shadow_fiend,
.d2mh.hero-11 {
  background-position: -32px -64px;
}

.d2mh.night_stalker,
.d2mh.npc_dota_hero_night_stalker,
.d2mh.hero-60 {
  background-position: -64px -64px;
}

.d2mh.omniknight,
.d2mh.npc_dota_hero_omniknight,
.d2mh.hero-57 {
  background-position: -96px -64px;
}

.d2mh.puck,
.d2mh.npc_dota_hero_puck,
.d2mh.hero-13 {
  background-position: -128px -64px;
}

.d2mh.pudge,
.d2mh.npc_dota_hero_pudge,
.d2mh.hero-14 {
  background-position: -160px -64px;
}

.d2mh.pudge_alt1,
.d2mh.npc_dota_hero_pudge_alt1 {
  background-position: -32px -256px;
}

.d2mh.pugna,
.d2mh.npc_dota_hero_pugna,
.d2mh.hero-45 {
  background-position: -192px -64px;
}

.d2mh.queenofpain,
.d2mh.npc_dota_hero_queenofpain,
.d2mh.queen_of_pain,
.d2mh.hero-39 {
  background-position: -224px -64px;
}

.d2mh.rattletrap,
.d2mh.npc_dota_hero_rattletrap,
.d2mh.clockwerk,
.d2mh.hero-51 {
  background-position: -256px -64px;
}

.d2mh.razor,
.d2mh.npc_dota_hero_razor,
.d2mh.hero-15 {
  background-position: -288px -64px;
}

.d2mh.riki,
.d2mh.npc_dota_hero_riki,
.d2mh.hero-32 {
  background-position: -320px -64px;
}

.d2mh.sand_king,
.d2mh.npc_dota_hero_sand_king,
.d2mh.hero-16 {
  background-position: -352px -64px;
}

.d2mh.shadow_shaman,
.d2mh.npc_dota_hero_shadow_shaman,
.d2mh.hero-27 {
  background-position: -384px -64px;
}

.d2mh.silencer,
.d2mh.npc_dota_hero_silencer,
.d2mh.hero-75 {
  background-position: -416px -64px;
}

.d2mh.skeleton_king,
.d2mh.npc_dota_hero_skeleton_king,
.d2mh.wraith_king,
.d2mh.hero-42 {
  background-position: -448px -64px;
}

.d2mh.slardar,
.d2mh.npc_dota_hero_slardar,
.d2mh.hero-28 {
  background-position: -480px -64px;
}

.d2mh.sniper,
.d2mh.npc_dota_hero_sniper,
.d2mh.hero-35 {
  background-position: -0px -96px;
}

.d2mh.spectre,
.d2mh.npc_dota_hero_spectre,
.d2mh.hero-67 {
  background-position: -32px -96px;
}

.d2mh.spirit_breaker,
.d2mh.npc_dota_hero_spirit_breaker,
.d2mh.hero-71 {
  background-position: -64px -96px;
}

.d2mh.storm_spirit,
.d2mh.npc_dota_hero_storm_spirit,
.d2mh.hero-17 {
  background-position: -96px -96px;
}

.d2mh.sven,
.d2mh.npc_dota_hero_sven,
.d2mh.hero-18 {
  background-position: -128px -96px;
}

.d2mh.tidehunter,
.d2mh.npc_dota_hero_tidehunter,
.d2mh.hero-29 {
  background-position: -160px -96px;
}

.d2mh.tinker,
.d2mh.npc_dota_hero_tinker,
.d2mh.hero-34 {
  background-position: -192px -96px;
}

.d2mh.tiny,
.d2mh.npc_dota_hero_tiny,
.d2mh.hero-19 {
  background-position: -224px -96px;
}

.d2mh.jakiro,
.d2mh.npc_dota_hero_jakiro,
.d2mh.hero-64 {
  background-position: -256px -96px;
}

.d2mh.ursa,
.d2mh.npc_dota_hero_ursa,
.d2mh.hero-70 {
  background-position: -288px -96px;
}

.d2mh.vengefulspirit,
.d2mh.npc_dota_hero_vengefulspirit,
.d2mh.vengeful_spirit,
.d2mh.hero-20 {
  background-position: -320px -96px;
}

.d2mh.venomancer,
.d2mh.npc_dota_hero_venomancer,
.d2mh.hero-40 {
  background-position: -352px -96px;
}

.d2mh.viper,
.d2mh.npc_dota_hero_viper,
.d2mh.hero-47 {
  background-position: -384px -96px;
}

.d2mh.warlock,
.d2mh.npc_dota_hero_warlock,
.d2mh.hero-37 {
  background-position: -416px -96px;
}

.d2mh.weaver,
.d2mh.npc_dota_hero_weaver,
.d2mh.hero-63 {
  background-position: -448px -96px;
}

.d2mh.windrunner,
.d2mh.npc_dota_hero_windrunner,
.d2mh.windranger,
.d2mh.hero-21 {
  background-position: -480px -96px;
}

.d2mh.witch_doctor,
.d2mh.npc_dota_hero_witch_doctor,
.d2mh.hero-30 {
  background-position: -0px -128px;
}

.d2mh.zuus,
.d2mh.npc_dota_hero_zuus,
.d2mh.zeus,
.d2mh.hero-22 {
  background-position: -32px -128px;
}

.d2mh.invoker,
.d2mh.npc_dota_hero_invoker,
.d2mh.hero-74 {
  background-position: -64px -128px;
}

.d2mh.clinkz,
.d2mh.npc_dota_hero_clinkz,
.d2mh.hero-56 {
  background-position: -96px -128px;
}

.d2mh.obsidian_destroyer,
.d2mh.npc_dota_hero_obsidian_destroyer,
.d2mh.outworld_devourer,
.d2mh.hero-76 {
  background-position: -128px -128px;
}

.d2mh.bane,
.d2mh.npc_dota_hero_bane,
.d2mh.hero-3 {
  background-position: -160px -128px;
}

.d2mh.shadow_demon,
.d2mh.npc_dota_hero_shadow_demon,
.d2mh.hero-79 {
  background-position: -192px -128px;
}

.d2mh.lycan,
.d2mh.npc_dota_hero_lycan,
.d2mh.hero-77 {
  background-position: -224px -128px;
}

.d2mh.lone_druid,
.d2mh.npc_dota_hero_lone_druid,
.d2mh.hero-80 {
  background-position: -256px -128px;
}

.d2mh.brewmaster,
.d2mh.npc_dota_hero_brewmaster,
.d2mh.hero-78 {
  background-position: -288px -128px;
}

.d2mh.brewmaster_fire,
.d2mh.npc_dota_hero_brewmaster_fire {
  background-position: -320px -128px;
}

.d2mh.brewmaster_storm,
.d2mh.npc_dota_hero_brewmaster_storm {
  background-position: -352px -128px;
}

.d2mh.brewmaster_earth,
.d2mh.npc_dota_hero_brewmaster_earth {
  background-position: -384px -128px;
}

.d2mh.phantom_lancer,
.d2mh.npc_dota_hero_phantom_lancer,
.d2mh.hero-12 {
  background-position: -416px -128px;
}

.d2mh.chaos_knight,
.d2mh.npc_dota_hero_chaos_knight,
.d2mh.hero-81 {
  background-position: -448px -128px;
}

.d2mh.phantom_assassin,
.d2mh.npc_dota_hero_phantom_assassin,
.d2mh.hero-44 {
  background-position: -480px -128px;
}

.d2mh.treant,
.d2mh.npc_dota_hero_treant,
.d2mh.treant_protector,
.d2mh.hero-83 {
  background-position: -0px -160px;
}

.d2mh.luna,
.d2mh.npc_dota_hero_luna,
.d2mh.hero-48 {
  background-position: -32px -160px;
}

.d2mh.ogre_magi,
.d2mh.npc_dota_hero_ogre_magi,
.d2mh.hero-84 {
  background-position: -64px -160px;
}

.d2mh.gyrocopter,
.d2mh.npc_dota_hero_gyrocopter,
.d2mh.hero-72 {
  background-position: -96px -160px;
}

.d2mh.rubick,
.d2mh.npc_dota_hero_rubick,
.d2mh.hero-86 {
  background-position: -128px -160px;
}

.d2mh.wisp,
.d2mh.npc_dota_hero_wisp,
.d2mh.io,
.d2mh.hero-91 {
  background-position: -160px -160px;
}

.d2mh.wisp_alt,
.d2mh.npc_dota_hero_wisp_alt {
  background-position: -192px -224px;
}

.d2mh.disruptor,
.d2mh.npc_dota_hero_disruptor,
.d2mh.hero-87 {
  background-position: -192px -160px;
}

.d2mh.undying,
.d2mh.npc_dota_hero_undying,
.d2mh.hero-85 {
  background-position: -224px -160px;
}

.d2mh.naga_siren,
.d2mh.npc_dota_hero_naga_siren,
.d2mh.hero-89 {
  background-position: -256px -160px;
}

.d2mh.templar_assassin,
.d2mh.npc_dota_hero_templar_assassin,
.d2mh.hero-46 {
  background-position: -288px -160px;
}

.d2mh.nyx_assassin,
.d2mh.npc_dota_hero_nyx_assassin,
.d2mh.hero-88 {
  background-position: -320px -160px;
}

.d2mh.keeper_of_the_light,
.d2mh.npc_dota_hero_keeper_of_the_light,
.d2mh.hero-90 {
  background-position: -352px -160px;
}

.d2mh.visage,
.d2mh.npc_dota_hero_visage,
.d2mh.hero-92 {
  background-position: -384px -160px;
}

.d2mh.magnataur,
.d2mh.npc_dota_hero_magnataur,
.d2mh.magnus,
.d2mh.hero-97 {
  background-position: -416px -160px;
}

.d2mh.meepo,
.d2mh.npc_dota_hero_meepo,
.d2mh.hero-82 {
  background-position: -448px -160px;
}

.d2mh.centaur,
.d2mh.npc_dota_hero_centaur,
.d2mh.centaur_warrunner,
.d2mh.hero-96 {
  background-position: -480px -160px;
}

.d2mh.slark,
.d2mh.npc_dota_hero_slark,
.d2mh.hero-93 {
  background-position: -0px -192px;
}

.d2mh.medusa,
.d2mh.npc_dota_hero_medusa,
.d2mh.hero-94 {
  background-position: -32px -192px;
}

.d2mh.shredder,
.d2mh.npc_dota_hero_shredder,
.d2mh.timbersaw,
.d2mh.hero-98 {
  background-position: -64px -192px;
}

.d2mh.troll_warlord,
.d2mh.npc_dota_hero_troll_warlord,
.d2mh.hero-95 {
  background-position: -96px -192px;
}

.d2mh.tusk,
.d2mh.npc_dota_hero_tusk,
.d2mh.hero-100 {
  background-position: -128px -192px;
}

.d2mh.bristleback,
.d2mh.npc_dota_hero_bristleback,
.d2mh.hero-99 {
  background-position: -160px -192px;
}

.d2mh.skywrath_mage,
.d2mh.npc_dota_hero_skywrath_mage,
.d2mh.hero-101 {
  background-position: -192px -192px;
}

.d2mh.elder_titan,
.d2mh.npc_dota_hero_elder_titan,
.d2mh.hero-103 {
  background-position: -224px -192px;
}

.d2mh.abaddon,
.d2mh.npc_dota_hero_abaddon,
.d2mh.hero-102 {
  background-position: -256px -192px;
}

.d2mh.ember_spirit,
.d2mh.npc_dota_hero_ember_spirit,
.d2mh.hero-106 {
  background-position: -288px -192px;
}

.d2mh.legion_commander,
.d2mh.npc_dota_hero_legion_commander,
.d2mh.hero-104 {
  background-position: -320px -192px;
}

.d2mh.earth_spirit,
.d2mh.npc_dota_hero_earth_spirit,
.d2mh.hero-107 {
  background-position: -352px -192px;
}

.d2mh.terrorblade,
.d2mh.npc_dota_hero_terrorblade,
.d2mh.hero-109 {
  background-position: -384px -192px;
}

.d2mh.phoenix,
.d2mh.npc_dota_hero_phoenix,
.d2mh.hero-110 {
  background-position: -416px -192px;
}

.d2mh.techies,
.d2mh.npc_dota_hero_techies,
.d2mh.hero-105 {
  background-position: -448px -192px;
}

.d2mh.oracle,
.d2mh.npc_dota_hero_oracle,
.d2mh.hero-111 {
  background-position: -64px -224px;
}

.d2mh.winter_wyvern,
.d2mh.npc_dota_hero_winter_wyvern,
.d2mh.hero-112 {
  background-position: -480px -192px;
}

.d2mh.lina_alt1,
.d2mh.npc_dota_hero_lina_alt1 {
  background-position: -480px -224px;
}

.d2mh.legion_commander_alt1,
.d2mh.npc_dota_hero_legion_commander_alt1 {
  background-position: -448px -224px;
}

.d2mh.terrorblade_alt1,
.d2mh.npc_dota_hero_terrorblade_alt1 {
  background-position: -416px -224px;
}

.d2mh.techies_alt1,
.d2mh.npc_dota_hero_techies_alt1 {
  background-position: -384px -224px;
}

.d2mh.nevermore_alt1,
.d2mh.npc_dota_hero_nevermore_alt1 {
  background-position: -352px -224px;
}

.d2mh.phantom_assassin_alt1,
.d2mh.npc_dota_hero_phantom_assassin_alt1 {
  background-position: -320px -224px;
}

.d2mh.crystal_maiden_alt1,
.d2mh.npc_dota_hero_crystal_maiden_alt1 {
  background-position: -288px -224px;
}

.d2mh.zuus_alt1,
.d2mh.npc_dota_hero_zuus_alt1 {
  background-position: -256px -224px;
}

.d2mh.arc_warden,
.d2mh.npc_dota_hero_arc_warden,
.d2mh.hero-113 {
  background-position: -96px -224px;
}

.d2mh.arc_warden_tempest_double,
.d2mh.npc_dota_hero_arc_warden_tempest_double {
  background-position: -64px -256px;
}

.d2mh.abyssal_underlord,
.d2mh.npc_dota_hero_abyssal_underlord,
.d2mh.underlord,
.d2mh.hero-108 {
  background-position: -0px -224px;
}

.d2mh.monkey_king,
.d2mh.npc_dota_hero_monkey_king,
.d2mh.hero-114 {
  background-position: -32px -224px;
}

.d2mh.monkey_king_alt1,
.d2mh.npc_dota_hero_monkey_king_alt1 {
  background-position: -128px -224px;
}

.d2mh.dark_willow,
.d2mh.npc_dota_hero_dark_willow,
.d2mh.hero-119 {
  background-position: -0px -256px;
}

.d2mh.grimstroke,
.d2mh.npc_dota_hero_grimstroke,
.d2mh.hero-121 {
  background-position: -96px -256px;
}

.d2mh.rubick_alt1,
.d2mh.npc_dota_hero_rubick_alt1 {
  background-position: -128px -256px;
}

.d2mh.mars,
.d2mh.npc_dota_hero_mars,
.d2mh.hero-129 {
  background-position: -160px -256px;
}

.d2mh.earthshaker_alt1,
.d2mh.npc_dota_hero_earthshaker_alt1 {
  background-position: -192px -256px;
}

.d2mh.earthshaker_alt2,
.d2mh.npc_dota_hero_earthshaker_alt2 {
  background-position: -224px -256px;
}

.d2mh.invoker_persona1,
.d2mh.npc_dota_hero_invoker_persona1 {
  background-position: -256px -256px;
}

.d2mh.snapfire,
.d2mh.npc_dota_hero_snapfire,
.d2mh.hero-128 {
  background-position: -288px -256px;
}

.d2mh.void_spirit,
.d2mh.npc_dota_hero_void_spirit,
.d2mh.hero-126 {
  background-position: -320px -256px;
}

.d2mh.ogre_magi_alt1,
.d2mh.npc_dota_hero_ogre_magi_alt1 {
  background-position: -352px -256px;
}

.d2mh.ogre_magi_alt2,
.d2mh.npc_dota_hero_ogre_magi_alt2 {
  background-position: -384px -256px;
}
