body {
  background-color: rgb(41, 38, 38);
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  margin-top: 20px;
}
th {
  color: white;
  font-size: 40px;
}
td {
  font-size: 13px;
  text-align: left;
  height: 150px;
  /* padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
  padding-bottom: 5px; */
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.cell {
  min-height: 1px;
  display: inline-block;
}
.overlay {
  color: white;
  background-color: black;
  text-align: center;
}
/* .hidden { */
/* display: none; */
/* } */
.suggestions {
  background-color: rgb(255, 41, 41);
}
