<tr class="abilities">
  <td>
    <table class="ability-table">
      <tbody>
        <tr class="abilities">
          {% for item in dict_item['abilities'] %}
          <td>
            <a
              href="https://www.opendota.com/matches/{{dict_item['id']}}"
              target="_blank"
            >
              <img
              src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.key}}_hp1.png?v=5933967
              width="100" height="80" /></a
            >
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </td>
</tr>
</tbody>
