{% extends 'search.html' %} {%block content%}
<script async>
  $(document).ready(function () {
    let table = $(".item-table").DataTable({
      aoColumns: [
        { orderSequence: ["desc", "asc"] },
        { bSortable: false },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { bSortable: false },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
      ],
      order: [[0, "asc"]],
      order: [[2, "desc"]],
      bfilter: false,
      searching: false,
      processing: true, ajax:{},
      "language": { processing: '<img src=\'../static/icons/loading.gif\'></img> '},
      serverSide: true,
      deferRender: true,
      pageLength: 10,
      ajax: window.origin + window.location.pathname +'/table' + window.location.search
    });
});
</script>
<script src="{{ url_for('static', filename='copy-match-id.js') }}" defer ></script>
<script src="{{url_for('static', filename='most-used.js')}}" defer ></script>
<script src="{{url_for('static', filename='talent/talent_img.js')}}" defer ></script>
<script src="{{url_for('static', filename='tooltip/big_talent_tooltip.js')}}" defer ></script>
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='minimap_icons/stylesheets/dota2minimapheroes.css') }}">
<script  src="{{ url_for('static', filename='tooltip.js') }}"  type='module' defer></script>
<title>{{hero_name}}</title>
<main>
  <div class="content" style="margin-top: 40px;">
    <div class="top-layer">
      <div>
        <a href="/hero/{{hero_name}}">
          <img
          class="hero-img"
          src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/{{hero_img}}.png?v=5926546"
          height="71px"
          width="127px"
          alt='main {{hero_name}}'
          />
            <div class="tooltip" id='hero-tooltip'>
            </div></a>
          <a
          class="view-changer"
          onclick="window.location = '/hero/{{hero_name}}/starter_items'+window.location.search;"
          >
          <img
          title="Starter Items"
          height="60px"
          src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/tango_lg.png"
          alt='show starter items'
          /></a>
          <div class="most-used-container">
            <div class="most-used-wrapper">
              <div class="most-used closed"></div>
                  <div class="arrow-button"onclick="toggleWindow()">
                    <i id="arrow" class="fas fa-caret-down" ></i>
                  </div>
                </div>
                <script>
                  itemWindow = document.querySelector(".most-used");
                  const toggleWindow = () => {
                    itemWindow.classList.toggle("closed");
                    if (itemWindow.classList.contains("closed")) {
                      document.getElementById("arrow").className = "fas fa-caret-down";
                    } else {
                      document.getElementById("arrow").className = "fas fa-caret-up";
                    }
                  };
                </script>
              </div>
            </div>
            {%if best_games %}
            <div class="best-games-wrapper">
              <table class="best-games" style="border-spacing: 0">
                <script onclick="document.execCommand('copy')""></script>
                <thead>
                  <th class="benchmarks">PLAYER</th>
                  <th class="benchmarks"></th>
                  <th class="benchmarks">Role</th>
                  <th class="benchmarks">GPM</th>
                  <th class="benchmarks">XPM</th>
                  <th class="benchmarks">KPM</th>
                  <th class="benchmarks">LHM</th>
                  <th class="benchmarks">HDM</th>
                  <th class="benchmarks">HH</th>
                  <th class="benchmarks">TD</th>
                  <th class="benchmarks">SPM</th>
                  <th class="benchmarks">LH@10</th>
                </thead>
                <tbody class="best-games-body">
                  {% for dict_item in best_games %}
                  <tr class='best-games-row' id="{{dict_item['id']}}">
                    <td class="benchmark-cell">
                      <a class = 'player-name' href="/player/{{dict_item['name']}}">{{dict_item['name']}}
                      </a>
                    </td>
                    <td class="benchmark-cell">
                      <i class="fas fa-copy" id="{{dict_item['id']}}"></i>
                    </td>              
                    <td class="benchmark-cell">
                      {%set role =  dict_item['role']%}
                      <img src="{{ url_for('static', filename='icons')}}/{{role}}.png">
                    </td>
                    {% for benchmark in dict_item['benchmarks']%}
                    {% set pct = dict_item['benchmarks'][benchmark]['pct']|int %}
                    {%if pct >= 80 %}{%set color = '#5AA563'%} 
                    {%elif pct >= 60 %}{%set color = '#5499D2'%} 
                    {%elif pct >= 40 %}{%set color = '#C9AF1D'%} 
                    {%elif pct >= 25 %}{%set color = '#D89740'%} 
                    {%else%}{%set color = '#EC494B'%} 
                    {%endif%}
                    
                    <td class="benchmark-cell">
                      <a
                      href="https://www.opendota.com/matches/{{dict_item['id']}}"
                      target="_blank"
                      >
                      <p>
                        <span class="benchmark-pct" style='color: {{color}}'>
                          {{dict_item['benchmarks'][benchmark]['pct']}}%
                        </span>
                        {%if benchmark == 'gold_per_min' or benchmark == 'xp_per_min' or benchmark == 'tower_damage' or benchmark == 'lhten'%}
                        <span class="benchmark-raw">
                          {{dict_item['benchmarks'][benchmark]['raw']|int}}
                        </span>
                        {%else%}
                        <span class="benchmark-raw">
                          {{dict_item['benchmarks'][benchmark]['raw']}}
                        </span>
                        {%endif%}
                      </p>
                    </a>
                  </td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          {%endif%}
          <div class="talent-wrapper">
              <div class="talents big-talent" style="height: 100px;">

          </div>
            <div class="tooltip" id='talents' style='display: none'>
            </div>
          </div>
        </div>
        <div class="pick-counter" style="display: flex;">
          <a href="/hero/{{hero_name}}">
            <p class='bold-name' id="hero-name" style="color: rgb{{hero_colour}};">
              <strong style="text-transform: capitalize;">{{display_name}}</strong>
            </p></a
            >
            <p style="color: white;">
              was picked {{total}} times with a winrate of (<span class=winrate>{{wins['winrate']}}%</span>). It's mostly played:
            </p>
            {%for k,v in roles.items()%}
            {%set clean_key =k|replace('_picks', '') %}
            <a href="/hero/{{hero_name}}?role={{clean_key}}">
              {%set win_key = clean_key + '_winrate'%}
              <p class="total-picks">
                {{clean_key}} ({{v}}, <span class='winrate'>{{wins[win_key]}}%</span>){{"," if not loop.last else "." }}
              </p>
            </a>
            {%endfor%}
          </div>
          <script>
            winrates = document.querySelectorAll('.winrate')
            winrates.forEach(x=> {
              const winrate = x.innerText.replace('%', '')
              if (+winrate < 50 && +winrate > 30) {
                  x.style.color = `hsl(0, 100%, ${winrate}%)`;
                } else if (+winrate <= 30) {
                  x.style.color = "hsl(0,100%, 30%)";
                } else if (+winrate > 80) {
                  x.style.color = "rgb(120 255 152)";
                } else {
                  x.style.color = `hsl(134, 100%,${winrate}%)`;
                }
            })
        </script>
          <table role="main" class="item-table stripe">
            <thead>
              <th class="stats" id="win"></th>
              <th class="stats" id="item-header">ITEMS</th>
              <th class="stats">PLAYED</th>
              <th class="stats">PLAYER</th>
              <th class="stats no-cursor" id="copy-match-header"></th>
              <th class="stats no-cursor">ROLE</th>
              <th class="stats">LVL</th>
              <th class="stats" id="kills">K</th>
              <th class="stats" id="deaths">D</th>
              <th class="stats" id="assists">A</th>
              <th class="stats">CS</th>
              <th class="stats" id="gold">NET</th>
              <th class="stats" id="gpm">GPM</th>
              <th class="stats" id="xpm">/XPM</th>
              <th class="stats">HD</th>
              <th class="stats">TD</th>
              <th class="stats">LENGTH</th>
              <th class="stats">MMR</th>
            </thead>
          </table>
        </div>
      </main>

      {%endblock%}