{% extends 'search.html' %} {%block content%}
<img
  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/{{hero_img}}_hphover.png?v=5926546"
/>
<a href="/hero/{{hero_name}}/starter_items">
  <input type="button" value="Starter items"
/></a>
<table class="item-table">
  {% for dict_item in data %}
  <tbody class="item-table-body">
    <tr class="items">
      {% for item in dict_item['final_items'] %}

      <td class="cell">
        <a
          href="https://www.opendota.com/matches/{{dict_item['id']}}"
          target="_blank"
        >
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
                item.key
              }}_lg.png"
            width="100"
            height="80"
        /></a>
        <div class="overlay">{{item.time}}</div>
      </td>
      {% endfor %} {% for item in dict_item['backpack'] %}
      <td class="bp cell">
        <a
          href="https://www.opendota.com/matches/{{dict_item['id']}}"
          target="_blank"
        >
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
                item.key
              }}_lg.png"
            width="100"
            height="80"
        /></a>
        <div class="overlay">{{item.time}}</div>
      </td>
      {% endfor %}
    </tr>
    <tr class="abilities">
      <td>
        <table class="ability-table">
          <tbody>
            <tr class="abilities">
              {% for item in dict_item['abilities'] %}
              <td>
                <img
                  class="ability"
                  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.img}}_hp1.png?v=5933967"
                  width="60"
                  height="60"
                  data-tooltip="{{item.key}}"
                  title="{{item.key}}"
                  onerror="this.onerror=null;this.src='https://www.opendota.com/assets/images/dota2/talent_tree.svg';"
                />
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>

{%endblock%}
