{% extends 'search.html' %} {%block content %}
<main>
  <div class="controls-wrapper">
    <div class="controls-container">
      <div class="advanced-controls hide">
        <div class="control-left">
          <button
            class="sort-button"
            id="Safelane"
            onclick="pickSort('Safelane','picks')"
          >
            SAFELANE
          </button>
          <button
            class="sort-button"
            id="Midlane"
            onclick="pickSort('Midlane','picks')"
          >
            MIDLANE
          </button>
          <button
            class="sort-button"
            id="Offlane"
            onclick="pickSort('Offlane','picks')"
          >
            OFFLANE
          </button>
        </div>
        <div class="control-center">
          <button
            class="sort-button"
            id="Roaming"
            onclick="pickSort('Roaming','picks')"
          >
            ROAMING
          </button>
          <button
            class="sort-button"
            id="Support"
            onclick="pickSort('Support','picks')"
          >
            SUPPORT
          </button>
          <button
            class="sort-button"
            id="Hard Support"
            onclick="pickSort('Hard Support','picks')"
          >
            HARD SUPPORT
          </button>
        </div>
        <div class="control-right">
          <div class="check-wrapper">
            <input type="checkbox" id="pick-box" onclick="uncheck('Picks')" />
            <label>Picks</label>
          </div>
          <div class="check-wrapper">
            <input type="checkbox" id="win-box" onclick="uncheck('Wins')" />
            <label>Wins</label>
          </div>
          <div class="check-wrapper">
            <input
              type="checkbox"
              id="win-rate-box"
              onclick="uncheck('Win-Rate')"
            />
            <label>Win-Rate</label>
          </div>
        </div>
        <div class="control-footer">
          <button class="sort-button" onclick="pickSort(null,'picks')">
            PICKS
          </button>
          <button class="sort-button" onclick="pickSort(null,'winrate')">
            WINRATE
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-button" id="controls-arrow" onclick="toggleWindow()">
    <i id="arrow" class="fas fa-caret-down"></i>
  </div>
  <script>
    itemWindow = document.querySelector(".advanced-controls");
    const toggleWindow = () => {
      itemWindow.classList.toggle("hide");
      if (itemWindow.classList.contains("hide")) {
        document.getElementById("arrow").className = "fas fa-caret-down";
      } else {
        document.getElementById("arrow").className = "fas fa-caret-up";
      }
    };
  </script>
  <div class="grid-container">
    <div class="hero-grid">
      {%set x = 0%} {%for j in range(links|length)%}
      <div class="hero-cell">
        <a href="/hero/{{links[j]['name']}}">
          <img
            class="hero-img"
            id="{{links[j]['name']}}"
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/{{hero_imgs[j]}}_hphover.png?v=5926546"
            width="100"
            height="60"
            alt="{{hero_imgs[j]}}"
        /></a>
        {%set hero = links[j]['name']%}
        <p class="win-stats">
          <span class="picks">{{wins[j]['picks']}}</span>
          <span class="wins">{{wins[j]['wins']}}</span>
          {%set win = wins[j]['wins']%} {%if wins[j]['picks'] > 0%} {%set
          winrate = win/wins[j]['picks'] * 100%} {%set round = winrate|round(2,
          'ceil')%}
          <span class="winrate">{{round}}%</span>
          {%endif%} {%if wins[j]['picks'] == 0%}
          <span class="winrate">0%</span>
          {%endif%}
          <span class="bans">{{wins[j]['bans']}}</span>
        </p>
      </div>
      {%endfor%}
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    document.getElementsByTagName("html")[0].style.visibility = "visible";
  });
</script>
<script
  src="{{ url_for('static', filename='sorting.js') }}"
  async
  defer
></script>
{%endblock content%}
