<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ url_for('static', filename='main.css') }}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
      ;
    ></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
    ></script>
    <script src=""></script>
  </head>
  <body>
    <table id="table">
      <thead>
        <th></th>
        <th class="stats" style="color: green;">K</th>
        <th class="stats" style="color: red;">D</th>
        <th class="stats" style="color: grey;">A</th>
        <th class="stats">CS</th>
        <th class="stats">Duration</th>
        <th class="stats">mmr</th>
      </thead>
      <tbody>
        <tr>
          <td class="stats" id="kills">
            <h3 style="color: green;">7</h3>
          </td>
          <td class="stats" id="deaths">
            <h3 style="color: red;">7</h3>
          </td>
          <td class="stats" id="assists">
            <h3 style="color: grey;">90</h3>
          </td>
          <td class="stats" id="last-hits">
            <h3>65</h3>
          </td>
          <td class="stats" id="duration">
            <h3>30</h3>
          </td>
          <td class="stats" id="mmr">
            <h3>8900</h3>
          </td>
        </tr>
        <tr>
          <td class="stats" id="kills">
            <h3 style="color: green;">7</h3>
          </td>
          <td class="stats" id="deaths">
            <h3 style="color: red;">7</h3>
          </td>
          <td class="stats" id="assists">
            <h3 style="color: grey;">90</h3>
          </td>
          <td class="stats" id="last-hits">
            <h3>65</h3>
          </td>
          <td class="stats" id="duration">
            <h3>30</h3>
          </td>
          <td class="stats" id="mmr">
            <h3>8900</h3>
          </td>
        </tr>
        <tr>
          <td class="stats" id="kills">
            <h3 style="color: green;">7</h3>
          </td>
          <td class="stats" id="deaths">
            <h3 style="color: red;">7</h3>
          </td>
          <td class="stats" id="assists">
            <h3 style="color: grey;">90</h3>
          </td>
          <td class="stats" id="last-hits">
            <h3>65</h3>
          </td>
          <td class="stats" id="duration">
            <h3>30</h3>
          </td>
          <td class="stats" id="mmr">
            <h3>8000</h3>
          </td>
        </tr>
        <tr class="abilities">
          <td>
            <table class="ability-table">
              <tbody>
                <tr class="abilities">
                  <td>
                    cells
                  </td>
                  <td>
                    cells
                  </td>
                  <td>
                    cells
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  <script>
    $(document).ready(function () {
      $("#table").DataTable();
    });
  </script>
</html>


<tr class="abilities">
  <td>
    <table class="ability-table">
      <tbody>
        <tr class="abilities">
          {% for item in dict_item['abilities'] %}
          <td>
            <img
              class="ability"
              src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.img}}_hp1.png?v=5933967"
              width="55"
              height="55"
              data-tooltip="{{item.key}}"
              title="{{item.key}}"
              onerror="this.onerror=null;this.src='https://www.opendota.com/assets/images/dota2/talent_tree.svg';"
            />
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </td>
</tr>