{% extends 'search.html' %} {%block content%}
<script>
  $(document).ready(function () {
    let table = $(".item-table").DataTable({
      aoColumns: [
        { orderSequence: ["desc", "asc"] },
        { bSortable: false },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { bSortable: false },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
      ],
      order: [[0, "asc"]],
      order: [[2, "desc"]],
      bfilter: false,
      searching: true,
      ajax: {},
      processing: true,
      ajax: {},
      language: {
        processing: "<img src='../static/icons/loading.gif'></img> ",
      },
      serverSide: true,
      deferRender: true,
      pageLength: 10,
      ajax:
        window.origin +
        window.location.pathname +
        "/table" +
        window.location.search,
    });
  });
</script>
<script src="{{ url_for('static', filename='copy-match-id.js') }}"></script>
<script
  src="{{ url_for('static', filename='tooltip.js') }}"
  type="module"
  defer
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='minimap_icons/stylesheets/dota2minimapheroes.css') }}"
/>
<title>{{display_name}}</title>
<main>
  <div class="content" style="margin-top: 40px">
    <a
      class="view-changer"
      onclick="window.location = '/player/{{display_name}}/starter_items'+window.location.search;"
    >
      <img
        height="50px"
        src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/tango_lg.png"
        alt="starter items"
    /></a>
    <div class="pick-counter" style="display: flex">
      <p class="bold-name" id="player-name" style="color: white">
        <strong style="text-transform: capitalize">{{display_name}}</strong>
      </p>
      <p style="color: white">has played {{total}} times. He mostly plays:</p>
      {%for k,v in roles.items()%}
      {%set clean_key =k|replace('_picks', '')%}
      <a href="/player/{{display_name}}?role={{clean_key}}">
        <p class="total-picks">
          {{clean_key}} ({{v}}){{"," if not loop.last else "." }}
        </p>
      </a>
      {%endfor%}
    </div>
    <table role="main" class="item-table stripe">
      <thead>
        <th class="stats" id="win"></th>
        <th class="stats" id="item-header">ITEMS</th>
        <th class="stats">PLAYED</th>
        <th class="stats">HERO</th>
        <th class="stats no-cursor" id="copy-match-header"></th>
        <th class="stats no-cursor">ROLE</th>
        <th class="stats">LVL</th>
        <th class="stats" id="kills">K</th>
        <th class="stats" id="deaths">D</th>
        <th class="stats" id="assists">A</th>
        <th class="stats">CS</th>
        <th class="stats" id="gold">NET</th>
        <th class="stats" id="gpm">GPM</th>
        <th class="stats" id="xpm">/XPM</th>
        <th class="stats">HD</th>
        <th class="stats">TD</th>
        <th class="stats">LENGTH</th>
        <th class="stats">MMR</th>
      </thead>
    </table>
  </div>
</main>

{%endblock%}
