{% extends 'search.html' %} {%block content%}
<script>
  $(document).ready(function () {
    document.getElementsByTagName("html")[0].style.visibility = "visible";
    let table = $(".item-table").DataTable({
      aoColumns: [
        { orderSequence: ["desc", "asc"] },
        { bSortable: false },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["asc", "desc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
        { orderSequence: ["desc", "asc"] },
      ],
      order: [[0, "asc"]],
      order: [[2, "desc"]],
      bfilter: false,
    });
    var lastIdx = null;
    $(".item-table tbody")
      .on("mouseover", ".stats", function () {
        var colIdx = table.cell(this).index().column;
        if (colIdx !== lastIdx) {
          $(table.cells().nodes()).removeClass("highlight");
          $(table.column(colIdx).nodes()).addClass("highlight");
        }
      })
      .on("mouseleave", function () {
        $(table.cells().nodes()).removeClass("highlight");
      });
  });
</script>
<title>{{player_name}}</title>
<main>
  <div class="content" style="margin-top: 40px;">
    <a
    class="view-changer"
    onclick="window.location = '/player/{{display_name}}/starter_items'+window.location.search;"
  >
    <img
      height="50px"
      src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/tango_lg.png"
      alt="starter items"
  /></a>
  <div class="pick-counter" style="display: flex;">
      <a href="/player/{{display_name}}">
        <p class='bold-name'id="player-name" style="color: white">
          <strong style="text-transform: capitalize;">{{display_name}}</strong>
        </p></a
      >
      <p style="color: white;">
        has played {{total}} times. He mostly plays:
      </p>
      {%for k,v in roles.items()%}
      <a href="/player/{{display_name}}?role={{k}}">
        <p class="total-picks">
          {{k}} ({{v}}){{"," if not loop.last else "." }}
        </p>
      </a>
      {%endfor%}
    </div>
  <table role="main" class="item-table stripe">
    <thead>
      <th class="stats" id="win"></th>
      <th class="stats" id="item-header">ITEMS</th>
      <th class="stats">PLAYED</th>
      <th class="stats">HERO</th>
      <th class="stats">LVL</th>
      <th class="stats" id="kills">K</th>
      <th class="stats" id="deaths">D</th>
      <th class="stats" id="assists">A</th>
      <th class="stats">CS</th>
      <th class="stats" id="gold">NET</th>
      <th class="stats" id="gpm">GPM</th>
      <th class="stats" id="xpm">/XPM</th>
      <th class="stats">HD</th>
      <th class="stats">TD</th>
      <th class="stats">LENGTH</th>
      <th class="stats">MMR</th>
    </thead>
    <tbody class="item-table-body">
      {% for dict_item in data %}
      <tr class="item-row">
        {%if dict_item['win'] == 1%}
        <td data-sort="{{dict_item['win']}}" id="win-cell"></td>
        {%endif%} {%if dict_item['win'] == 0%}
        <td data-sort="{{dict_item['win']}}" id="loss-cell"></td>
        {%endif%}
        <td>
          <a
            href="https://www.opendota.com/matches/{{data[loop.index0]['id']}}"
            target="_blank"
          >
            <div class="purchases">
              {% for item in dict_item['final_items'] %}
              <div class="item-cell">
                <img
                  class="item-img"
                  src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
              item.key
            }}_lg.png"
                  width="100"
                  height="80"
                  alt="{{item.key}}"
                />
                <div class="overlay" aria-label="{{item.time}}">
                  {{item.time}}
                </div>
              </div>
              {% endfor %} {% for item in dict_item['backpack'] %}
              <div class="item-cell">
                <img
                  class="item-img"
                  src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
              item.key
            }}_lg.png"
                  width="100"
                  height="80"
                  alt="{{item.key}}"
                />
                <div class="overlay" aria-label="{{item.time}}">
                  {{item.time}}
                </div>
              </div>
              {% endfor %}
              <div class="neutral-cell">
                {%if dict_item['item_neutral'] != None%}
                <div class="circle">
                  <img
                  id='neutral-item'
                    class="item-img"
                    id="neutral-item"
                    src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{dict_item['item_neutral']}}_lg.png"
                    width="100"
                    height="80"
                    alt="{{dict_item['item_neutral']}}"
                  />
                </div>
              </div>
                <!-- <div class="overlay" id="neutral-overlay"></div> -->
                {%endif%}
              </div>
            </div>
          </a>
          <div class="abilities">
            {% for item in dict_item['abilities'] %}
            <div class="ability-img-wrapper">
              <strong
                ><p style="color: white; text-align: center;">
                  {%if item.level%}
                  {{item.level}}
                  {%endif%}
                  {%if not item.level%}
                  {{loop.index}}
                  {%endif%}
                </p></strong
              >
              {%if item.type == 'talent'%}
              <img
              class="table-img"
              src="../static/talent_img.png"
              width="55"
              height="55"
              data_id = "{{item.id}}"
              data-tooltip="{{item.key}}"
              data-hero="{{dict_item.hero}}"              
              alt="{{item.key}}"
              />
              <div class="tooltip" style='margin-left: auto;'>
                <div class="tooltip-line-one">
                  <img 
                  src = "{{ url_for('static', filename='talent_img.png') }}"
                  width='55'
                  />
                  <h3>{{item.key}}</h3>
                </div>
              </div>
              {%endif%}
              {%if item.type != 'talent'%}
              <img
                class="table-img"
                src="//ailhumfakp.cloudimg.io/v7/https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.img}}_hp1.png?v=5933967"
                width="55"
                height="55"
                data_id = "{{item.id}}"
                data-tooltip="{{item.key}}"
                data-hero="{{dict_item.hero}}"
                alt="{{item.key}}"
                title="{{item.key}}"
              />
              <!-- tooltip start -->
                <div class="tooltip"style='background: radial-gradient(circle at top left, rgba{{hero_colour}} 0%, rgba(19,18,18,1) 37%);'></div>
              <!-- tooltip end -->
             {%endif%}
            </div>
            {% endfor %}
          </div>
          <div class="draft">
            <div class="radiant_draft">
              {%for d_pick in dict_item['radiant_draft']%}
              {%set draft_pick = d_pick|replace("'", '')%}
              {%if hero_name == d_pick%}
              {%set class = 'icon-highlight'%}
              {%endif%}
              <a href = "{{url_for ('hero_get', hero_name = d_pick)}}">
              <i class="d2mh {{draft_pick}} {{class}}"></i>
              </a>
              {%endfor%}
            </div>
            <div class="dire_draft">
              {%for d_pick in dict_item['dire_draft']%}
              {%set draft_pick = d_pick|replace("'", '')%}
              {%if hero_name == d_pick%}
              {%set class = 'icon-highlight'%}
              {%endif%}
              <a href = "{{url_for ('hero_get', hero_name = d_pick)}}">
              <i class="d2mh {{draft_pick}} {{class}}"></i>
              </a>                
              {%endfor%}
            </div>
          </div>
        </td>
        <td
          data-sort="{{dict_item['unix_time']}}"
          class="stats"
          id="start_time"
        >
          {%set seconds = time - dict_item['unix_time']%} {%set hours =
          seconds/60/60 %} {%if hours <= 1%} {%set output = 'Just Now'%}
          {%endif%} {%if hours < 24 and hours > 1%} {%set f =
          hours|round(0,'floor')|int%} {%set output = f|string + ' Hours
          Ago'%} {%endif%} {%if hours < 48 and hours > 24%} {%set output = '1
          Day Ago'%} {%endif%} {%if hours >= 48%} {%set t = hours/24%} {%set
          round = t|round(0, 'floor')|int%} {%set output = round|string +'
          Days Ago'%} {%endif%} {{output}}
        </td>
        <td class="stats" id="hero-name"
        data-search="{{dict_item['hero']}}">
          <a
            href="{{url_for('hero_get', hero_name=dict_item['hero'])}}"
          >
           <i class="d2mh {{dict_item['hero']}}"></i>
          </a>
        </td>
        <td class="stats" id="level">
          {{dict_item['lvl']}}
        </td>
        <td class="stats" id="kills">
          {{dict_item['kills']}}
        </td>
        <td class="stats" id="deaths">
          {{dict_item['deaths']}}
        </td>
        <td class="stats" id="assists">
          {{dict_item['assists']}}
        </td>
        <td class="stats" id="last-hits">
          {{dict_item['last_hits']}}
        </td>
        <td class="stats" id="gold">
          {{dict_item['gold']}}
        </td>
        <td class="stats" id="gpm">
          {{dict_item['gpm']}}
        </td>
        <td class="stats" id="xpm">
          /{{dict_item['xpm']}}
        </td>
        <td class="stats" id="hero-d">
          {{dict_item['hero_damage']}}
        </td>
        <td class="stats" id="tower-d">
          {{dict_item['tower_damage']}}
        </td>
        <td class="stats" id="duration">
          {{dict_item['duration']}}
        </td>
        <td class="stats" id="mmr">
          {{dict_item['mmr']}}
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
</main>
{%endblock%}
