<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"
      
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.5/datatables.min.js"
      ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <script
    src="https://kit.fontawesome.com/452aecdbf8.js"
    crossorigin="anonymous"
    async defer></script>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  </head>
  <body>
    <nav>
    <div class="navbar" role='navigation'>
      <div id="home">
        <a href="/"><button class="home-button">HOME</button></a>
      </div>
      <div class="form-container">
        <form aria-label="search-bar" method="POST" action="">
          <div class="search-container">
            <input
              id="search"
              type="text"
              name="search"
              placeholder="Search.."
              autocomplete="off"
              role='search'
            />
          </div>
          <div class="suggestions">
            <div class="suggestions-left">
              <p class="suggestion-header">Heroes</p>
            <ul id='hero-suggestion-list'></ul>
            </div>
            <div class="suggestions-right">
              <p class="suggestion-header">Players</p>
            <ul id='player-suggestion-list'></ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
  <script src="{{ url_for('static', filename='autocomplete.js') }}" ></script>
  {%block content%} {%endblock%}
  </body>
</html>