<!DOCTYPE html>
<html>
  <head>
    <html lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  </head>
  <body>
    <nav>
    <div class="navbar" role='navigation'>
      <div id="home">
        <a href="/"><button class="home-button">HOME</button></a>
      </div>
      <div class="form-container">
        <form aria-label="search-bar" method="POST" action="">
          <div class="search-container">
            <input
              id="search"
              type="text"
              name="search"
              placeholder="Search.."
              autocomplete="off"
              role='search'
            />
          </div>
          <div class="suggestions">
            <div class="suggestions-left">
              <p class="suggestion-header">Heroes</p>
            <ul id='hero-suggestion-list'></ul>
            </div>
            <div class="suggestions-right">
              <p class="suggestion-header">Players</p>
            <ul id='player-suggestion-list'></ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
    {%block content%} {%endblock%}
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='sorting.js') }}"></script>
    <script src="{{ url_for('static', filename='tooltip.js') }}"></script>
  </body>
</html>
