<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
      ;
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/v/dt/dt-1.10.21/r-2.2.5/datatables.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <div id="home">
        <a href="/"><button class="home-button">HOME</button></a>
      </div>
      <div class="form-container">
        <form method="POST" action="">
          <div class="search-container">
            <input
              id="search"
              type="text"
              name="t"
              placeholder="Search.."
              autocomplete="off"
            />
          </div>
          <div class="suggestions">
            <ul></ul>
          </div>
        </form>
      </div>
    </div>
    {%block content%} {%endblock%}
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
  </body>
</html>
