{%extends 'search.html'%} {%block content%}
<img
  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/{{hero_img}}_hphover.png?v=5926546"
/>
<a href="/hero/{{hero_name}}"> <input type="button" value="Final Items" /></a>
<table class="item-table">
  <tbody class="item-table-body">
    <tr>
      {% for dict_item in data %} {% for item in dict_item['starting_items'] %}
      <td class="cell">
        <a
          href="https://www.opendota.com/matches/{{dict_item['id']}}"
          target="_blank"
        >
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
                item.key
              }}_lg.png"
            width="100"
            height="80"
        /></a>
      </td>
      {% endfor %}
    </tr>
    <tr class="abilities">
      <td>
        <table class="ability-table">
          <tbody>
            <tr class="abilities">
              {% for item in dict_item['abilities'] %}
              <td>
                <a
                  href="https://dota2.gamepedia.com/{{hero_name}}"
                  target="_blank"
                >
                  <img
                    class="ability"
                    src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.img}}_hp1.png?v=5933967"
                    width="60"
                    height="60"
                    data-tooltip="{{item.key}}"
                    title="{{item.key}}"
                    onerror="this.onerror=null;this.src='https://www.opendota.com/assets/images/dota2/talent_tree.svg';"
                  />
                </a>
              </td>
                {% endfor %}
              </tr>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{%endblock%}
