{%extends 'search.html'%} {%block content%}
<img
  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/{{hero_img}}_hphover.png?v=5926546"
/>
<a href="/hero/{{hero_name}}"> <input type="button" value="Final Items" /></a>
<table class="hidden">
  <tbody class="item-table">
    <tr>
      {% for dict_item in data %} {% set match_id = dict_item['id'] %} {% for
      item in dict_item['starting_items'] %} {%set img_name = item.key %}
      <td colspan="6" class="cell">
        <a href="https://www.opendota.com/matches/{{match_id}}" target="_blank">
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
                img_name
              }}_lg.png"
            width="100"
            height="80"
        /></a>
      </td>
      {% endfor %}
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
