{% extends 'search.html' %} {%block content%}
<img
  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/heroes/{{hero_img}}_hphover.png?v=5926546"
/>
<a href="/hero/{{hero_name}}"> <input type="button" value="final items" /></a>
<table class="item-table">
  <thead>
    <th>ITEMS</th>
    <th class="stats">Player</th>
    <th class="stats" style="color: green;">K</th>
    <th class="stats" style="color: red;">D</th>
    <th class="stats" style="color: grey;">A</th>
    <th class="stats">CS</th>
    <th class="stats">Duration</th>
    <th class="stats">mmr</th>
  </thead>
  {% for dict_item in data %}
  <tbody class="item-table-body-{{dict_item['win']}}">
    <tr class="items">
      {% for item in dict_item['starting_items'] %}
      <td class="cell">
        <a
          href="https://www.opendota.com/matches/{{dict_item['id']}}"
          target="_blank"
        >
          <img
            src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/items/{{
                item.key
              }}_lg.png"
            width="100"
            height="80"
        /></a>
      </td>
      {% endfor %}
      <td class="stats" id="player-name">
        <a href='http://www.dota2protracker.com/player/{{dict_item["name"]}}'>
          <h3>{{dict_item['name']}}</h3></a
        >
      </td>
      <td class="stats" id="kills">
        <h3 style="color: green;">{{dict_item['kills']}}</h3>
      </td>
      <td class="stats" id="deaths">
        <h3 style="color: red;">{{dict_item['deaths']}}</h3>
      </td>
      <td class="stats" id="assists">
        <h3 style="color: grey;">{{dict_item['assists']}}</h3>
      </td>
      <td class="stats" id="last-hits">
        <h3>{{dict_item['last_hits']}}</h3>
      </td>
      <td class="stats" id="last-hits">
        <h3>{{dict_item['duration']}}</h3>
      </td>
      <td class="stats" id="last-hits">
        <h3>{{dict_item['mmr']}}</h3>
      </td>
    </tr>
    <tr class="abilities">
      <td>
        <table class="ability-table">
          <tbody>
            <tr class="abilities">
              {% for item in dict_item['abilities'] %}
              <td>
                <img
                  class="ability"
                  src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/abilities/{{item.img}}_hp1.png?v=5933967"
                  width="55"
                  height="55"
                  data-tooltip="{{item.key}}"
                  title="{{item.key}}"
                  onerror="this.onerror=null;this.src='https://www.opendota.com/assets/images/dota2/talent_tree.svg';"
                />
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>

{%endblock%}
